{% extends "base.html" %}
{% block title %} backlog {% endblock %}
{% block home %} (current) {% endblock %}
{% block content%}
    <style>
    .dropdown{
        position:relative;
        display:inline-block;
        margin-left: 65px;
        color: #212529;
        background-color: #f8f9fa;
    }
    .box{
        margin:5px;
        list-style:none;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('project.create_project') }}" type="button"
                           class="btn btn-primary btn-lg btn-block"><strong>Create a New Project</strong>
                        </a><br>
                    </li>
                    <li>
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100"
                              method="post" action ="{{ url_for('project.project_search') }}">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"
                                       name="search_term">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div scope="col-8" class="dropdown">
                {% for project in projects %}
                    <a href="{{ url_for('project.project', term=project.project_id) }}" type="button"
                           class="box btn btn-light">
                        <h1>Project: </h1>
                        <h3>{{ project.name }}</h3>
                        <h2>Assigned Date: </h2>
                        <h3>{{ project.assigned_date }}</h3>
                        <h2>Due date: </h2>
                        <h3>{{ project.due_date }}</h3>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}