<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">



    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=" ">
        <img src="{{ url_for('static',filename='the_user_story_logo.png') }}" class="d-inline-block align-top" alt="App
    Logo" width="100" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('auth.signup') }}">Sign Up <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('userstory.userstory_base') }}">User story</a>
            <a class="nav-item nav-link" href="{{ url_for('team.team_base') }}">Team</a>
            <a class="nav-item nav-link" href="{{ url_for('project.backlog') }}">Project</a>
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% endif %}
            <a class="nav-item nav-link" href="{{ url_for('chatapp.room') }}">Chat room</a>

            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='notificationLOGO.jpg') }}" class="d-inline-block align-top"
                     width="30px" height="30px"
                     alt="Notification">
            </a>
        </div>
    </div>
</nav>

<div role=main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Page Content -->
    {% block content %}


    {% endblock %}
</div>
</body>
</html>