{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Login{% endblock %}
{% block content %}

    <body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">
                                <img class="mx-auto" src="{{ url_for('static',filename='login_bg_image.png') }}" width="100%" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="post" novalidate>
                                        {{ form.hidden_tag() }}

                                        <dl class="form-group">
                                            {{ render_field(form.email, id="inputEmail", class='form-control ') }}
                                            {{ render_field(form.password, class='form-control form-contorl-user') }}
                                            {{ render_field(form.remember_me) }}
                                            <input type=submit value='Login' class='btn btn-primary'>
                                            <a class="nav-item nav-link" href="{{ url_for('auth.signup') }}">Not have an
                                                account? Press here to
                                                register.</a>
                                        </dl>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    </body>
{% endblock %}
