{% extends "base.html" %}
{% block title %} backlog {% endblock %}
{% block home %} (current) {% endblock %}
{% block content%}
    <style>
    .dropdown{
        position:relative;
        display:inline-block;
        margin-left: 50px;
    }
    .dropdown-content{
        display:none;
        position:absolute;
        min-width:160px;
        background-color:#f9f9f9;
        box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
        padding:12px 16px;
        z-index:1;
    }
    .dropdown:hover.dropdown-content{
        display:block;
    }
    .box{
        margin:5px;
        list-style:none;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('project.create_project') }}" type="button"
                           class="btn btn-primary btn-lg btn-block"><strong>Create a New Project</strong>
                        </a><br>
                    <li>
                        <form class="form-inline ml-auto" method="post" action ="{{ url_for('project.project_search') }}">
                                <input class="form-control" type="search"
                                       placeholder="Enter a Project Name, Description or Communication"
                                       aria-label="Search" name="search_term">
                                <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div scope="col-8" class="dropdown">
                {% for project in projects %}
                    <a href="{{ url_for('project.project', term=project.project_id) }}" type="button"
                           class="box">>
                        <li>Project: </li>
                        <li>{{ project.name }}</li>
                        <li>Assigned Date: </li>
                        <li>{{ project.assigned_date }}</li>
                        <li>Due date: </li>
                        <li>{{ project.due_date }}</li>
                        <li>Description: </li>
                        <li>{{ project.description }}</li>
                        <li>Communication: </li>
                        <li>{{ project.communication }}</li>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}