{% extends "base.html" %}
{% block title %} backlog {% endblock %}
{% block home %} (current) {% endblock %}
{% block content%}
    <style>
    .dropdown{
        position:relative;
        display:inline-block;
        margin-left: 50px;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('project.create_project') }}" type="button"
                           class="button"><strong>Create a New Project</strong>
                        </a><br>
                    </li>
                    <li>
                        <form class="bar" method="post" action ="{{ url_for('project.project_search') }}">
                                <input class="form-control" type="search"
                                       placeholder="Enter a Project Name, Description or Communication"
                                       aria-label="Search" name="search_term">
                                <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div scope="col-8" class="dropdown">
                <h1>Project: {{ current_project.name }}</h1>
                <h5>Project ID: {{ current_project.project_id }}</h5>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Userstory ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Creation Date </th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Priority Level</th>
                        <th scope="col">Assigned Team</th>
                    </tr>
                    {% for userstory in links %}
                        <tr>
                            <td><a href="#">{{ userstory.userstory_id }}</a></td>
                            <td><a href="#">{{ userstory.content }}</a></td>
                            <td><a href="#">{{ userstory.creation_date }}</a></td>
                            <td><a href="#">{{ userstory.deadline }}</a></td>
                            <td><a href="#">{{ userstory.priority_level }}</a></td>
                            <td><a href="#">{{ userstory.team_name }}</a></td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
                <a href="{{ url_for('project.edit_project', id=current_project.project_id) }}" type="button"
                   class="btn btn-primary btn-lg btn-block"><strong>Edit Project</strong></a>
                <a href="{{ url_for('project.delete_project', project=current_project.project_id) }}" type="button"
                   class="btn btn-primary btn-lg btn-block"><strong>Delete Project</strong></a>
            </div>
        </div>
    </div>
{% endblock %}