{% extends "team_base.html" %}
{% block title %} Team Edition {% endblock %}

{% block team_base_content %}
    {% from "_formhelpers.html" import render_field %}
    <div class="col-8">
    <h1>Editing Details of Team {{ team_name[0].name }}</h1>
        <form method=post novalidate>
                    <dl>
                        {{ render_field(edit_team_form.name, class='form-control', value=team_name.name)}}
                        {{ render_field(edit_team_form.leader, class='form-control')}}
                        {{ render_field(edit_team_form.member1, class='form-control') }}
                        {{ render_field(edit_team_form.member2, class='form-control') }}
                        {{ render_field(edit_team_form.member3, class='form-control') }}
                        {{ render_field(edit_team_form.member4, class='form-control') }}
                        {{ render_field(edit_team_form.member5, class='form-control') }}
                    </dl>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
    </div>
    <div class="col-2">
    </div>

{% endblock %}