{% extends "base.html" %}
{% block title %} Team Base {% endblock %}

{% block content %}

    <div role=main>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ url_for('team.team_creation') }}" type="button"
                               class="btn btn-primary btn-lg btn-block"><strong>Create a New Team</strong>
                            </a><br>
                        </li>
                        <li class="nav-item">
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100"
                                  method="post" action="{{ url_for('team.team_base') }}">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search Team" aria-label="Search"
                                           aria-describedby="basic-addon2"
                                           name="search_term">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form><p></p>
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Team List</th>
                                </tr>
                                {% for team in teams %}
                                    <tr>
                                        <td><a type="button" class="btn btn-light btn-sm btn-block"
                                               href="{{ url_for('team.team_info', team_id=team.team_id) }}">{{ team.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </li>
                    </ul>
                </div>
                {% block team_base_content %}
                    <!-- team page content -->
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
