{% extends "team_base.html" %}
{% block title %} Team Info {% endblock %}

{% block team_base_content %}
    <div class="col-8">
        <h1>Team: <span>{{ team_details[0].team_name }}</span></h1><br>
        <h3>User stories Working on:</h3>
        {% if not userstories %}
            <h3>No User Story Working on</h3>
        {% else %}
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Project Information</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Userstory</th>
                                    <th>Priority</th>
                                    <th>Project</th>
                                    <th>Start Date</th>
                                    <th>Deadline</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Userstory</th>
                                    <th>Priority</th>
                                    <th>Project</th>
                                    <th>Start Date</th>
                                    <th>Deadline</th>
                                </tr>
                                </tfoot>
                                <tbody>


                                {% for userstory in userstories %}
                                    <tr>
                                        <td>{{ userstory.content }}</td>
                                        <td>{{ userstory.priority }}</td>
                                        <td>{{ userstory.project_name }}</td>
                                        <td><span class="text-nowrap">{{ userstory.creation_date }}</span></td>
                                        <td><span class="text-nowrap">{{ userstory.deadline }}</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <a class="btn btn-primary" href="{{ url_for('team.team_edition', team_id=team_details[0].team_id) }}">Edit
            Team</a>
        <a class="btn btn-primary" href="{{ url_for('team.delete_team', team_id=team_details[0].team_id) }}">Delete
            Team</a>
    </div>
    <div class="col-2">
        <h3>Team Leader:</h3>
        <p>{{ team_leader[0].user_name }}</p>
        <h3>Team Members:</h3>
        {% for team_detail in team_details %}
            <p>Name: {{ team_detail.user_name }}<br>
                Email:{{ team_detail.email }}</p>
        {% endfor %}

    </div>
{% endblock %}